@model Asp.netCoreDatPhongKS.Models.LienHeVoiCtoi

@{
    ViewData["Title"] = "Thêm liên hệ mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/LienHe.css" rel="stylesheet" />
<h1>Tạo liên hệ mới</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="HoTen" class="control-label"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoDienThoai" class="control-label"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NoiDung" class="control-label"></label>
        <textarea asp-for="NoiDung" class="form-control"></textarea>
        <span asp-validation-for="NoiDung" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TrangThai" class="control-label"></label>
        <input asp-for="TrangThai" class="form-control" />
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GhiChu" class="control-label"></label>
        <textarea asp-for="GhiChu" class="form-control"></textarea>
        <span asp-validation-for="GhiChu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Tạo" class="btn btn-primary" />
    </div>
</form>
